body{
    margin: 0vw;
    padding: 0vw;
    background-image: url("download.jpg");
    width: 100vw;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainDev{
    
    
}
h1{
    text-align : center;
    background : silver;
    color : teal;
    font-size : 18px;
}
ul li{
    list-style-type: circle;
}
