body{
    margin: 0vw;
    padding: 0vw;
    background-image: url("download.jpg");
    width: 100vw;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainDev{
    
    
}